<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<div layout:fragment="content">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit risus quis interdum cursus. Vestibulum rutrum sodales diam eget sagittis. Vestibulum malesuada ac lorem tristique rhoncus. Mauris rutrum sed ante id laoreet. Etiam sodales in augue in porta. Duis sit amet pretium metus. Morbi a viverra nunc. Nam dignissim eros ligula, sit amet congue quam viverra et. Duis nisl massa, fermentum pretium ligula sed, commodo blandit turpis. Maecenas turpis felis, pellentesque et felis at, tristique volutpat velit. Aliquam ultricies ornare ipsum, ut blandit eros convallis sit amet. Morbi nec mi sed nibh aliquam commodo quis quis elit.</p>
</div>


</html>
