<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>A minha 1ª pagina Spring</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed mattis leo ac dictum consequat. Suspendisse vestibulum, velit at
        luctus consectetur, urna turpis facilisis tortor, nec dictum nibh orci vel lorem.
        Sed maximus urna nunc, id pharetra libero ornare vitae. Praesent sed neque nisl.
        Ut facilisis sagittis sodales. Quisque vel nibh id tortor tincidunt ullamcorper.
        Fusce efficitur velit vel nunc porttitor, ac ornare justo consequat. Morbi ultrices,
        diam quis lacinia consequat, libero nunc pulvinar justo, quis ultricies odio felis nec neque.
        In eu pretium tellus, ut ultricies lacus. Maecenas mollis diam vitae consequat pellentesque.
        Nullam euismod elementum ipsum, non dapibus augue facilisis eu. Nam ut urna rhoncus, venenatis risus vitae,
        aliquam quam. Aenean nec euismod risus. Proin ultrices convallis tincidunt.
    </p>


</body>
</html>